<!DOCTYPE html>
<html>
<head>
    <title>Apply to {{ job.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application_form.css') }}"/>
    <script src="https://unpkg.com/lucide@latest"></script>

</head>
<body>
    <div class="application-container">
        <a href="{{ url_for('jobs.list_jobs') }}" class="back-link">Back to Jobs</a>
        </form>
        <h1>Apply for {{ job.title }}</h1>
        <p><strong>{{ job.company_name }}</strong> — {{ job.location }} — {{ job.job_type }}</p>
        <form action="{{ url_for('jobs.apply_job', job_id=job.id) }}" method="POST" enctype="multipart/form-data">
            <div class="input_style">
            <label for="full_name">Full Name</label>
            <input type="text" id="full_name" name="full_name" required>
            </div>

            <div class="input_style">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            </div>

            <div class="input_style">
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" name="phone" required>
            </div>

            <div class="input_style"> 
            <label for="cover_letter">Cover Letter</label>
            <textarea id="cover_letter" name="cover_letter" rows="5" required></textarea>
            </div>

            
            <button type="submit" class="submit-btn" name="action" value="apply">Submit Application</button>
            <button type="submit" class="save-btn" name="action" value="draft">Save as a draft</button>

        <br>
    </div>
    <script src="{{ url_for('static', filename='javascript/loading_form_data.js') }}"></script>

</body>
</html>
