<!DOCTYPE html>
<html>
<head>
    <title>Apply to {{ job.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application_form.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
   
</head>
<body>
    <div class="application-container">
        <a href="{{ url_for('jobs.list_jobs') }}" class="back-link">Back to Jobs</a>
        
        <h1>Apply for {{ job.title }}</h1>
        <p><strong>{{ job.company_name }}</strong> — {{ job.location }} — {{ job.job_type }}</p>
        <form action="{{ url_for('jobs.apply_job', job_id=job.id) }}" method="POST" enctype="multipart/form-data">
            <div class="input_style">
            <label for="full_name">Full Name</label>
            <input type="text" id="full_name" name="full_name">
            </div>

            <div class="input_style">
            <label for="email">Email</label>
            <input id="email" name="email">
            </div>

            <div class="input_style">
            <label for="cv_link">Cv Link</label>
            <input type="text" id="cv_link" name="cv_link">
            </div>

            <div class="input_style"> 
            <label for="cover_letter">Cover Letter</label>
            <textarea id="cover_letter" name="cover_letter" rows="5"></textarea>
            </div>
            <button type="submit" class="submit-btn" name="action" value="apply">Submit Application</button>
            <button type="submit" class="save-btn" name="action" value="draft">Save as a draft</button>
        <br>
    </div>
    <script src="{{ url_for('static', filename='javascript/loading_form_data.js') }}"></script>
    <script src="{{url_for('static' , filename='javascript/flash_script.js')}}"></script>
    <script src="{{url_for('static' , filename='javascript/validation.js')}}"></script>

</body>
</html>
